*{
    margin:0px;
    padding:0px;
}
body{
font-family:'Gabarito',sans-serif;    
}
.navbar{
    display:flex;
    padding:20px;
    justify-content:space-between;
    border-bottom:solid black 2px;
    gap:10px;
    align-items:center;
}
.navbar__s1__title{
    color:blueviolet;
    font-size:xx-large;

}
.navbar__s2 {
    border: solid black 8px;
    padding:10px;
    width:60%;
    border-radius:30px;
    display:flex;
    gap:10px;
    align-items:center;
}
.navbar__s2 input{
    border:none;
    width:100%;

}
.navbar__s2 input:focus{
    outline:none;
}
.navbar__s3{
    display:flex;
    gap:10px;
    align-items:center;
}
.categories{
    display:flex;
    padding:10px;
    border: solid black 2px;
    justify-content: space-around;
}
.categories p{
    color:whitesmoke;
    background-color:blueviolet;
    padding:10px;
    font-size: larger;
    border:10px;
    border-radius:30px;
    align-items:center;
}
.sale-image img{
    width:100%;
    height:30%;
}
.recommended{
    padding:10px;
}
.recommanded__container{
    display:flex;   
    justify-content: space-between; 
    flex-wrap: wrap;
}
.course-card{
    width: 200px;
}
.course-card img{
    height:50%;
    width: 100%;
}
.recommended p{
    padding-bottom:10px;
}
.topics{
    padding:10px;
}
.topics__container{
    display:flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border:solid grey 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis:25%;
}
.popular{
    padding:10px;
}
.popular__container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    color:white;
    background-color: black;
    padding:30px;
}
.footer__one{
    display:flex;
    padding:5px;
    gap:10px;
}
.footer__one p{
    margin:20px;
}
.footer__two{
    margin:20px;
    align-items: center;
    display:flex;
    justify-content: space-between;
}